* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #294356 45%, #f7931e);
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

p {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.brand-text {
  color: #f7931e;
}

.brand-background {
  background-color: #f7931e;
}

button {
  cursor: pointer;
}

#logo {
  width: 40px;
  height: 40px;
  background-color: #f7931e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#logo svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

#navigation-box {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: fit-content;
  display: flex;
  border: 2px solid #fff;
  background-color: #294356;
  border-radius: 30px;
  overflow: hidden;
  padding: 1rem 0;
}

nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5px 1.5rem;
  border-right: 1px solid #f7931e;
  transition: all 0.3s;
}

nav > a:hover {
  color: #f7931e;
}

nav > a > svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

nav > a:last-child {
  border-right: none;
}

@media screen and (max-width: 767px) {
  nav {
    width: 90%;
    justify-content: space-evenly;
  }

  nav > a > span {
    display: none;
  }
}
