h1 {
  font-size: 54px;
  text-transform: uppercase;
}

.container {
  padding: 40px;
  padding-top: 50px;
  height: 100vh;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}

#gameboard {
  width: 390px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7931e;
  font-size: 120px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(6) ~ .box {
  border-bottom: none;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f7931e;
  color: #333;
  border-color: #f7931e;
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
  border: none;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

select {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #f7931e;
  color: #333;
  border: none;
  font-weight: bold;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }

  .container {
    justify-content: center;
    padding-top: 40px;
  }

  #gameboard {
    width: 300px;
  }

  .box {
    width: 100px;
    height: 100px;
  }
}
